body {
  font-family: Arial;
}

h1 {
color: red;
}

.spinner-button {
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
}

.circle {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

.needle {
  position: relative;
  left: 0;
  top: 0;
  border: 20px solid red;
  border-radius: 50%;
  border-top: 20px solid white;
  width: 460px;
  height: 460px;
}

.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
